.form-container {
  border: 3px solid black;
  border-radius: 10px;
  max-width: 500px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form-title {
  color: rgba(29, 134, 160, 0.849);
}

label {
  padding-right: 20px;
}

input,.select-user-status {
  height: 25px;
  width: 240px;
  border-radius: 5px;
  font-size: 20px;
}
.input-name-section,
.input-password-section,
.input-user-status-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: rgba(28, 20, 100, 0.849);
  font-size: 20px;
}

.select-user-status {
 background-color: white;
}

.button-submit {
  min-width: 80px;
  min-height: 40px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  border-radius: 10px;
  color: white;
  background-color: #65749e;
  cursor: pointer;
  margin-bottom: 20px;
}
.button-submit:hover {
  background-color: #163588;
  transform: scale(1.1, 1.1);
  transition: all 0.6s ease;
}

.validate-error-message {
  color: red;
}